.popup-contacts {
  background: linear-gradient(30.28deg, #a53a8b 0%, #3b98c9 103.59%);
  margin: auto -135px auto 0;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.25);
  height: 529px;
  max-width: 320px;
  z-index: 1;
  transition: all 1s;
  @media (max-width: 970px) {
    width: 290px;
    height: 604px;
  }
  @media (max-width: 780px) {
    display: none;
  }
  &__wrapper {
    padding: 30px 20px;
    opacity: 1;
    transition: all 0.5s;
  }
&__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 87.52%;
  color: #ffffff;
  width: 327px;
  margin-bottom: 30px;
  @media (max-width: 970px) {
    font-size: 44px;
    margin-bottom: 40px;
  }
}
&__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 30px;
  @media (max-width: 970px) {
    margin-bottom: 40px;
  }
}
&__phone {
  font-weight: bold;
  font-size: 28px;
  line-height: 68px;
  color: #ffffff;
  margin-bottom: 94px;
  text-decoration: none;
  display: block;
  @media (max-width: 970px) {
    font-size: 25px;
    margin-bottom: 160px;
  }
}
&__address {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  span {
    display: block;
  }
}
  &__hide {
    opacity: 0;
  }
}