.slider {
  aspect-ratio: 1/1;
  position: relative;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  height: 60vw;
  width: 60vw;

  &__item {
    position: absolute;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    img {
      filter: grayscale(0);
      opacity: 1;
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }
}

.disabled-mobile {
  z-index: -1;
  img {
    filter: grayscale(1);
    transform: scale(0.8);
    opacity: (0.6);
    transition: all 0.3s;
  }
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: -1;
  position: relative;
  transform: translateY(-14%);
  min-width: 67vw;

  img {
    width: 95%;
    margin-bottom: 6%;
  }

  pre {
    font-family: Inter;
    font-weight: normal;
    font-size: 7vw;
    text-align: right;
    margin-bottom: 3.5%;
    line-height: 90%;
    &:last-child{
      font-weight: 200;
      font-size: 4vw;
      text-align: right;
      position: absolute;
      top: 100%;
      width: 90vw;
      line-height: 115%;
    }
  }
}

.gradientOval {
  position: absolute;
  right: -20px;
  bottom: -30%;
  height: 55vh;
  width: 45vh;
  background: linear-gradient(
                  314deg, #abcd29, rgba(171, 205, 41, 0.8), rgba(56, 176, 193, 0.9), rgba(144, 107, 170, 0.9));
  z-index: -2;
  border-radius: 160px 55px 35px 70px;
  filter: blur(13px);
}