.error__wrapper {
  z-index: 5;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.25), inset 0px 0px 40px -2px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  user-select: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  @media (orientation: landscape) {
    display: flex;
    flex-direction: column;
  }
  img {
    margin-bottom: 3vh;
    width: 30vh;
    height: auto;
  }

  div {
    font-size: 7vh;
    margin-bottom: 1vh;
  }
  span {
    font-size: 4vh;
  }
}