.headerMenu {
  display: flex;
  font-size: 16px;
  white-space: nowrap;
  justify-content: flex-end;
  @media (max-width: 1370px) {
    font-size: 15px;
  }
  li {
    z-index: 2;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    display: none;
    @media (max-width: 767px) {
      display: inline;
    }
  }
  span {
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }

  @media (max-width: 768px) {
    font-size: 15px;
    margin-right: 0;
  }
  @media (max-width: 555px) {
    display: none;
  }
}