.headerMenu {
  display: flex;
  font-size: 16px;
  white-space: nowrap;
  justify-content: space-between;
  @media (max-width: 1370px) {
    font-size: 15px;
  }
  li {
    z-index: 2;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 780px) {
    font-size: 15px;
    margin-right: 0;
  }
  @media (max-width: 555px) {
    display: none;
  }
}

.phone > span {
  @media (min-width: 780px) {
    background: none !important;
    padding: 0 !important;
  }
}
.phone > span > span {
  @media (max-width: 780px) {
    display: none;
  }
}

.email > span {
  @media (min-width: 780px) {
    background: none !important;
    padding: 0 !important;
  }
}
.email > span > span {
  @media (max-width: 780px) {
    display: none;
  }
}

