.formMobile__wrapper {
  z-index: 5;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  &_invisible {
    z-index: -50;
    opacity: 0;
    transition: opacity 0.5s;
  }
}
.formMobile {
  padding: 20px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 380px;
  box-shadow: inset -5px -5px 34px rgba(255, 255, 255, 0.25), inset -20px -20px 40px rgba(255, 255, 255, 0.5), 0px -4px 5px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  color: white;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  transform: translateY(0);
  transition: transform 1s;
  z-index: 5;

  &_invisible {
    transform: translateY(100%);
    transition: transform 1s;
  }

  &__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 83.52%;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    @media (max-width: 380px) {
      font-size: 30px;
    }
    @media (max-width: 340px) {
      font-size: 28px;
    }
  }

  &__inputsWrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  input, textarea {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 6px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    @media (max-width: 380px) {
      font-size: 14px;
    }
    @media (max-width: 340px) {
      font-size: 13px;
    }
  }

  input:focus,
  textarea:focus {
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }

  input {
    height: 42px;
    &::placeholder {
      font-family: Inter;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      opacity: 0.6;
      color: white;
      @media (max-width: 380px) {
        font-size: 14px;
      }
      @media (max-width: 340px) {
        font-size: 13px;
      }
    }
  }

  textarea {
    height: 84px;
    resize: none;
    font-size: 16px;
    margin-bottom: 0;
    @media (max-width: 340px) {
      height: 72px;
    }
    &::placeholder {
      font-family: Inter;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      opacity: 0.6;
      color: white;
      @media (max-width: 380px) {
        font-size: 14px;
      }
      @media (max-width: 340px) {
        font-size: 13px;
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__reminder {
    position: absolute;
    margin-top: 0;
    top: 25px;
    right: 7px;
    font-weight: 900;
    color: #FF9900;
    opacity: 0;
  }
  &__agreement {
    margin-top: 10px;
  }
  &__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: opacityAnim 1s;
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 30px;
    }
    div {
      font-family: Inter;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
    img {
      width: 156px;
      height: 156px;
      margin-bottom: 20px;
    }
  }
}



.error-input {
  box-shadow: 0 0 20px #FF9900;
  font-weight: 900;
  color: #FF9900 !important;
}

.error-reminder {
  position: absolute;
  margin-top: 0;
  top: 25px;
  right: 7px;
  font-weight: 900;
  color: #FF9900;
  opacity: 1;
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}