.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 555px) {
    display: none;
  }

  &__item {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @media (min-width: 768px) {
      &:hover {
        background-color: #ffffff;
        text-shadow: currentColor;
        transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
      }
      &:hover::before {
        left: 0;
        right: auto;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
      }
      &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        z-index: -1;
        content: "";
        background: #ffffff;
        border-radius: 50%;
        transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
    &:last-child {margin-right: 0;}
  }

  &__contacts {
    display: flex;
    align-items: center;
    span {
      font-size: 16px;
      @media (max-width: 1370px) {
        font-size: 15px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__item:hover .footer__link svg {
  @media (min-width: 768px) {
    fill: #c95691;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
}
.footer__link svg {
  fill: #fff;
}
