input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input,
textarea {
  outline: none;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0 1px indigo;
  background-color: #fff;
}

input:invalid {
  background: #ffd9d9;
}

.popup__form {
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 99px -7px rgba(255, 255, 255, 0.25);
  padding: 74px 34px 58px 376px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.hide-popup-form {
  opacity: 0;
}

.popup__form-title {
  font-weight: bold;
  font-size: 68px;
  line-height: 83.52%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(253.11deg, #4194c6 49.1%, #a53b8c 92.42%);
  white-space: nowrap;
  border-bottom: 1px solid indigo;
  padding-bottom: 11px;
  margin-bottom: 26px;
}
.popup__form-title--mobile {
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 83.52%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(253.11deg, #4194c6 49.1%, #a53b8c 92.42%);
  white-space: nowrap;
  border-bottom: 1px solid indigo;
  padding-bottom: 11px;
  margin-bottom: 26px;
  display: none;
}
.popup__form-subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #3d3d3d;
  margin-bottom: 9px;
  margin-left: 10px;
}
.popup__form-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4px;
}

.popup__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.tab__checkbox {
  .checkbox__input {
    &:checked + .checkbox__text {
      box-shadow: 0 0 0 1px indigo;
      border: 1px solid #a23d8d;
      color: #a23d8d;
    }
  }

  .checkbox__text {
    color: rgba(61, 61, 61, 0.35);
    display: inline-block;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: 0 8px 8px 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }

    &::before {
      display: none;
    }
  }
}

.checkbox {
  position: relative;
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: -0.3px;
    cursor: pointer;
    &::before {
      content: "";
      align-self: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid #a7a9ac;
    }
  }
  a {
    color:#ffffff;
    text-decoration: underline;
  }
}

.popup__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.popup__form-slider {
  background: #ffffff;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 6px 23px 6px 0;
  position: relative;
  margin-right: 10px;
  div {
    width: 23%;
    height: 91%;
    box-shadow: 0 0 0 1px indigo;
    border: 0.5px solid #a23d8d;
    border-radius: 8px;
    color: #a23d8d;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 0;
  }
}
.popup__form-slider-item {
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  color: rgba(61, 61, 61, 0.35);
  padding: 7px 16px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  &:first-child {
    padding: 7px 8px;
  }
}

.popup__form-deadline-input {
  color: rgba(61, 61, 61, 0.35);
  box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
  font-family:inherit;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 39px;
  padding: 2px 7px;
  &::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: rgba(61, 61, 61, 0.35);
    padding: 0 2px;
  }
}

.popup__form-textarea {
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 109px;
  background: #ffffff;
  box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  resize: none;
  border: none;

  margin-bottom: 16px;
}
.popup__form-textarea::placeholder {
  padding: 10px 0 0 10px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(61, 61, 61, 0.35);
}

.popup__form-inputs {
  margin-bottom: 32px;
}
.popup__form-input {
  font-size: 14px;
  line-height: 17px;
  background: #ffffff;
  box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  &:first-child {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-right: 0;
    width: 50%;
  }
  &::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(61, 61, 61, 0.35);
  }
}

.popup__form-btn-wrapper {
  display: inline-block;
}

.animated-button-popup {
  background: transparent;
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  padding: 5px;
  text-decoration: none;
  z-index: 1001;
}
.animated-button-popup:hover {
  color: #fff;
  z-index: 101;
}
.animated-button-popup:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}
.animated-button-popup::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: linear-gradient(30.28deg, #a53a8b 0%, #3b98c9 103.59%);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.popup__form-btn {
  font-size: 20px;
  line-height: 83.52%;
  color: #a23d8d;
  border: 1px solid #a23d8d;
  border-radius: 15px;
  padding: 19px;
  background-color: transparent;
  cursor: pointer;
  z-index: 101;
  overflow: hidden;
}
.popup__form-btn-span {
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  color: rgba(61, 61, 61, 0.35);
  width: 208px;
  display: inline-block;
  margin-left: 11px;
}