.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1025px) {
    margin: 0 0 7px 0;
  }
  @media (max-width: 555px) {
    margin: 0;
  }
  &__logo {
    img {
      width: 303px;
      height: 74px;
      @media (max-width: 1370px) {
        width: 230px;
        left: 61.5%;
        height: 55px;
      }
      @media (max-width: 555px) {
        width: 216px;
        height: 53px;
      }
    }
    flex: 0 2 50%;

  }
}

nav {
  flex: 1 1 50%;
}



