.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
  @media (max-width: 555px) {
    display: none;
  }
}

.content-mobile {
  display: flex;
  justify-content: center;
  flex: auto;
  flex-direction: column;
  @media (min-width: 555px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    height: 60%;
   }
  &__col {
    flex: 1 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-left {
      width: 40%;
    }
    &-right {
      width: 60%;
      position: relative;
    }
  }
}

.activities {
  aspect-ratio: 1/1;
  width: calc(min(65vw, 65vh));
  animation: firstLoadAnim 1.2s;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    position: relative;
    display: grid;
    place-items: center;
    width: calc(min(23vw, 23vh));
  }

  img {
    width: 100%;
    position: absolute;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    &:nth-child(2n) {
      justify-content: space-between;
    }
  }
}
.active {
  .png {
    opacity: 1;
  }
  .webp {
    opacity: 0;
  }
  img {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
  }
  transform: scale(1);
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    .png {
      opacity: 0;
    }
    .webp {
      opacity: 1;
    }
  }
}

.disabled {
  img {
    pointer-events: none;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .png {
    opacity: 1;
  }

  .webp {
    opacity: 0;
  }
}

.disabled.disabledAnimation {
  animation: animDisabled 1s;
  animation-fill-mode: forwards;
}

.activeAnimation {
  animation: animActive 1.2s;
  animation-fill-mode: forwards;
}

@keyframes animDisabled {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {transform: scale(1.5);}

  100% {
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}
@keyframes animActive {
  0% {}
  30% {transform: scale(1.5);}
  45% {transform: scale(1.5);}
  100% {transform: scale(0);}
}
@keyframes firstLoadAnim {
  0% {transform: scale(0)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

