.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(min(80vw, 80vh));

  animation: info-Animation 0.8s;

  &__columns {
    display: flex;
  }

  &__bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      width: 100%;
      height: auto;
    }

    &:first-child {
      padding-left: 12.5%;
    }

    &:last-child {
      align-items: flex-end;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 62px;
    @media (max-width: 1025px) {
      font-size: 28px;
    }
  }

  &__secondTitle {
    font-weight: 900;
    font-size: 140px;
    line-height: 120px;
    margin-bottom: 10px;
    @media (max-width: 1025px) {
      font-size: 60px;
      line-height: 63px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 36px;
    line-height: 32px;
    width: 50%;
    padding-left: 12.5%;
    @media (max-width: 1025px) {
      font-size: 18px;
    }
  }
  &_animBack {
    animation: info-Animation-back 1.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes info-Animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes info-Animation-back {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
  }
}







