.infoMobile {
  z-index: -1;
  h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
      font-weight: 900;
      font-size: 68px;
      line-height: 65%;
      text-align: right;
      margin-bottom: 10px;
      @media (max-width: 460px) {
        font-size: 58px;
      }
    }
  }

  h4 {
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    width: 65%;
    margin: 0 0 10px auto;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  p {
    font-weight: 300;
    font-size: 10px;
    line-height: 100.02%;
    text-align: right;
    width: 70%;
    margin: 0 0 0 auto;
    @media (max-width: 460px) {
      width: 65%;
    }
  }
}

