.swiper-container {
  width: 75%;
  margin: 0 auto;
  padding: 10px 55px;
}
.swiper-slide-next, .swiper-slide-prev {
  opacity: 0;
}


.swiper-button-next, .swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    text-shadow: currentColor;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    color: #a23d8d;
  }

  &:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  &::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    content: "";
    background: #ffffff;
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
  right: auto;

}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px;
}

