.popup-contacts {
  font-family: Inter, Roboto, sans-serif;
  background: linear-gradient(30.28deg, #a53a8b 0%, #3b98c9 103.59%);
  margin: auto -135px auto 0;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.20);
  height: 90%;
  max-width: 310px;
  z-index: 1;
  transition: all 1s;

  @media (max-width: 900px) {
    display: none;
  }
  &__wrapper {
    padding: 30px 20px;
    opacity: 1;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
&__title {
  font-family: Inter, Roboto, sans-serif;
  font-weight: bold;
  font-size: 46px;
  line-height: 87.52%;
  color: #ffffff;
  margin-bottom: 15px;
}
&__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
&__phone {
  font-weight: bold;
  font-size: 27px;
  line-height: 68px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}
&__address {
  font-weight: 200;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  span {
    font-weight: 300;
  }
}
  &__hide {
    opacity: 0;
  }
}