.footer-mobile {
  display: flex;
  justify-content: space-between;

  .socials__item {
    margin: 0;

    &:nth-child(1) {
      position: absolute;
      transform: rotateZ(95deg) translateY(95px) rotateZ(-95deg)
    };
    &:nth-child(2) {
      position: absolute;
      transform: rotateZ(135deg) translateY(95px) rotateZ(-135deg)
    }

    &:nth-child(3) {
      position: absolute;
      transform: rotateZ(175deg) translateY(95px) rotateZ(-175deg)
    }
  }

  .circle {
    position: absolute;
    right: -35px;
    bottom: -35px;
    height: 37vh;
    width: 37vh;
    border-radius: 50%;
    background:linear-gradient(314deg, rgba(171, 205, 41, 1), rgba(171, 205, 41, 0.8), rgba(56, 176, 193, 0.4), rgba(144, 107, 170, 0.1));
  }

  @media (min-width: 555px) {
    display: none;
  }
}

