.footer-mobile {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;

  &__socials {
    display: grid;
    place-items: center;
    z-index: 1;
  }

  .footer__item {
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 1;
    transition: all 0.3s;
    z-index: 1;
    &:nth-child(1) {
      position: absolute;
      transform: rotateZ(90deg) translateY(75px) rotateZ(-90deg)
    };
    &:nth-child(2) {
      position: absolute;
      transform: rotateZ(135deg) translateY(75px) rotateZ(-135deg)
    }

    &:nth-child(3) {
      position: absolute;
      transform: rotateZ(180deg) translateY(75px) rotateZ(-180deg)
    }

    &_invisible {
      transition: all 0.3s;
      margin: 0;
      opacity: 0;
      z-index: -1;
      &:nth-child(1) {
        position: absolute;
        transform: rotateZ(90deg) translateY(0) rotateZ(-90deg)
      };
      &:nth-child(2) {
        position: absolute;
        transform: rotateZ(135deg) translateY(0) rotateZ(-135deg)
      }

      &:nth-child(3) {
        position: absolute;
        transform: rotateZ(180deg) translateY(0) rotateZ(-180deg)
      }
    }
  }

  @media (min-width: 555px) {
    display: none;
  }
}

.footer-mobile__link svg {
  fill: #fff;
}


.socials__toggle {
  width: 44px;
  height: 44px;
}



