* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  position: -ms-device-fixed;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  color: #ffffff;
  background-color: #fff;
  background-image: linear-gradient( 45deg, #C95691, #1C98E0);
  @media (max-width: 550px) {
    background-image: linear-gradient( 0deg, #C95691, #1C98E0);
  }
}

a {
  text-decoration: none;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

.App {
  height: 100%;
}

.container {
  max-width: 1080px;
  height: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  @media (max-width: 780px) {
    padding: 10px;
  }
}

.background-mobile {
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 90vh;
  -webkit-mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
  mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
  right: -70%;
  bottom: 5%;
  @media (min-width: 550px) {
    display: none;
  }
  &_collapsed {
    animation: collapseGridMobile 0.5s;
  }
}
@keyframes collapseGridMobile {
  0% {
    -webkit-mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
    mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
  }

  20% {
    -webkit-mask-image: radial-gradient(black 0%, rgba(0, 0, 0, 0) 33%);
    mask-image: radial-gradient(black 0%, rgba(0, 0, 0, 0) 33%);
  }

  35% {
    -webkit-mask-image: radial-gradient(black -7%, rgba(0, 0, 0, 0) 24%);
    mask-image: radial-gradient(black -7%, rgba(0, 0, 0, 0) 24%);
  }

  50% {
    -webkit-mask-image: radial-gradient(black -15%, rgba(0, 0, 0, 0) 15%);
    mask-image: radial-gradient(black -15%, rgba(0, 0, 0, 0) 15%);
  }

  65% {
    -webkit-mask-image: radial-gradient(black -7%, rgba(0, 0, 0, 0) 24%);
    mask-image: radial-gradient(black -7%, rgba(0, 0, 0, 0) 24%);
  }

  80% {
    -webkit-mask-image: radial-gradient(black 0%, rgba(0, 0, 0, 0) 33%);
    mask-image: radial-gradient(black 0%, rgba(0, 0, 0, 0) 33%);
  }

  100% {
    -webkit-mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
    mask-image: radial-gradient(black 17%, rgba(0, 0, 0, 0) 48%);
  }
}
