.info__btnWrapper {
    display: flex;
    align-items: center;
  margin-bottom: 20px;
}

.info__nav {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: #ffffff;
    text-shadow: currentColor;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  &:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  &::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    content: "";
    background: #ffffff;
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
}

.info__nav:hover .info__link svg {
  fill: #c95691;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.info__link svg {
  fill: #fff;
}

.info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}