input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius:0;
}

.form {
  font-family: Inter, Roboto, sans-serif;
  position: relative;
  background: #ffffff;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  padding: 15px 20px 15px 150px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  @media (max-width: 900px) {
    padding: 20px 20px 10px;
    text-align: center;
  }
  @media (max-width: 550px) {
    padding: 5px;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 46px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(253.11deg, #4194c6 49.1%, #a53b8c 92.42%);
    white-space: nowrap;
    border-bottom: 1px solid indigo;
    margin-bottom: 10px;
    line-height: 41px;
    //@media (max-width: 1025px) {
    //  font-size: 37px;
    //}
    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 12px;
    color: #3d3d3d;
    margin-bottom: 5px;
    margin-right: 10px;
    line-height: 14px;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
  }
  &__budget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin-bottom: 10px;
    align-items: inherit;
  }

  &__project {
    position: relative;
    display: flex;
    flex: auto;
    max-height: 100px;
    margin-bottom: 10px;
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      position: absolute;
      z-index: -10;
    }
    label {
      font-size: 12px;
      color: rgba(61, 61, 61, 0.35);
      cursor: pointer;
      position: absolute;
      right: 7px;
      bottom: 8px;
    }
  }

  &__btnWrapper {
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
      flex-direction: column;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
    span {
      color: rgba(61, 61, 61, 0.35);
      margin-left: 10px;
    }
  }
}

.hide-popup-form {
  opacity: 0;
}

.checkbox {
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__text {
    position: relative;
    font-size: 12px;
    letter-spacing: -0.3px;
    cursor: pointer;
    color: rgba(61, 61, 61, 0.35);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: 0 8px 5px 0;
    line-height: 14px;
    height: 30px;
    padding: 0 7px;
    @media (max-width: 480px) {
      font-size: 11px;
    }

    &::before {
      display: none;
      content: "";
      align-self: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid #a7a9ac;
    }
  }

  &__label {
    position: relative;
    .checkbox__input {
      &:checked + .checkbox__text {
        box-shadow: 0 0 0 1px indigo;
        border: 1px solid #a23d8d;
        color: #a23d8d;
      }
    }
  }
}

.budget {
    &__slider {
      background: #ffffff;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      white-space: nowrap;
      height: 30px;

        .slider-budget__item {
          border-radius: 8px;
          font-size: 12px;
          color: rgba(61, 61, 61, 0.35);
          cursor: pointer;
          transition: all 0.5s ease-out;
          flex: 1;
          display: grid;
          place-items: center;
          @media (max-width: 480px) {
            font-size: 10px;
          }
          &_select {
            color: #a23d8d;
          }
        }
        div {
          width: 25%;
          height: 100%;
          align-items: center;
          box-shadow: 0 0 0 1px indigo;
          border: 0.5px solid #a23d8d;
          border-radius: 8px;
          color: #a23d8d;
          transition: all 0.5s ease-out;
          position: absolute;
        }
    }
    &__sum {
        width: 100%;
    }
}

textarea {
 font-family: Inter, Roboto, sans-serif;
 font-size: 12px;
 color: #3d3d3d;
 line-height: 17px;
 background: #ffffff;
 box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 resize: none;
 border: none;
 padding: 10px 0 10px 10px;
 flex: auto;
 width: 100%;

 &::placeholder {
    font-size: 12px;
    color: rgba(61, 61, 61, 0.35);
   font-family: Inter, Roboto, sans-serif;
   line-height: 15px
   }
}

.userInfo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  input {
    font-family: Inter, Roboto, sans-serif;
    font-size: 12px;
    color: #3d3d3d;
    line-height: 17px;
    background: #ffffff;
    box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    height: 30px;
    width: 25%;
    margin: 0 10px 10px 0;
    flex: 1;

    &::placeholder {
      font-size: 12px;
      line-height: 17px;
      color: rgba(61, 61, 61, 0.35);
    }
    &:last-child {
      margin: 0 0 10px 0;
    }
  }
  .error {
    background: #ffd9d9;
    border: 1px solid #ffd9d9;
    &:focus {
      background: #ffffff;
    }
  }
}

.messenger {
  margin-bottom: 10px;
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__label {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__text {
    font-size: 12px;
    color: rgba(61, 61, 61, 0.35);
  }
  &__checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
  }
}
.messenger__label .messenger__input:checked ~ .messenger__checkmark {
  background-color: #a23d8d;
  display: grid;
  place-items: center;
}
.messenger__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.messenger__label .messenger__input:checked ~ .messenger__checkmark:after {
  display: block;
}

.messenger__label .messenger__checkmark:after {
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.animated-button-popup { //кнопка формы
 font-family: Inter, Roboto, sans-serif;
  font-size: 12px;
 background: transparent;
 cursor: pointer;
 display: block;
 position: relative;
 transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
 text-decoration: none;
 z-index: 1001;
 height: 44px;
 border-radius: 6px;
  overflow: hidden;
  color: #a23d8d;
  border: 2px solid #a23d8d;
  width: 140px;
  @media (max-width: 900px) {
    margin-bottom: 5px;
  }
}
.animated-button-popup:hover {
 color: #fff;
 z-index: 101;
  border: 2px solid transparent;
}
.animated-button-popup:hover::before {
 left: 0;
 right: auto;
 width: 100%;
}
.animated-button-popup::before {
 display: block;
 position: absolute;
 top: 0;
 right: 0;
 height: 100%;
 width: 0;
 z-index: -1;
 content: "";
 color: #000 !important;
 background: linear-gradient(30.28deg, #a53a8b 0%, #3b98c9 103.59%);
 transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}


