input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius:0;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 1px indigo;
  background-color: #fff;
}

.form {
  font-family: Inter;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 99px -7px rgba(255, 255, 255, 0.25);
  padding: 15px 20px 15px 150px;
  transition: all 0.5s ease-in-out;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 900px) {
    padding: 20px 20px 0;
    text-align: center;
  }
  @media (max-width: 550px) {
    padding: 5px;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 46px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(253.11deg, #4194c6 49.1%, #a53b8c 92.42%);
    white-space: nowrap;
    border-bottom: 1px solid indigo;
    margin-bottom: 10px;
    line-height: 41px;
    @media (max-width: 900px) {
      font-size: 37px;
    }
    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 12px;
    color: #3d3d3d;
    margin-bottom: 5px;
    margin-right: 10px;
    line-height: 14px;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
  }
  &__budget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin-bottom: 10px;
    align-items: inherit;
  }

  &__btnWrapper {
    display: flex;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}

.hide-popup-form {
  opacity: 0;
}

.checkbox {
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__text {
    align-items: center;
    position: relative;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.3px;
    cursor: pointer;
    color: rgba(61, 61, 61, 0.35);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: 0 8px 4px 0;
    line-height: 14px;
    height: 30px;
    padding: 0 7px;
    @media (max-width: 480px) {
      font-size: 11px;
    }

    &:hover {
      text-decoration: underline;
    }

    &::before {
      display: none;
      content: "";
      align-self: flex-start;
      margin: 0 14px 0 0;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #ffffff;
      border: 1px solid #a7a9ac;
    }
  }

  &__label {
    position: relative;
    .checkbox__input {
      &:checked + .checkbox__text {
        box-shadow: 0 0 0 1px indigo;
        border: 1px solid #a23d8d;
        color: #a23d8d;
      }
    }
  }
}

.budget {
    &__slider {
      background: #ffffff;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      white-space: nowrap;
      height: 30px;

        span {
          border-radius: 8px;
          font-size: 12px;
          color: rgba(61, 61, 61, 0.35);
          cursor: pointer;
          transition: all 0.5s ease-out;
          flex: 1;
          display: grid;
          place-items: center;
          @media (max-width: 480px) {
            font-size: 10px;
          }
        }
        div {
          width: 25%;
          height: 90%;
          align-items: center;
          box-shadow: 0 0 0 1px indigo;
          border: 0.5px solid #a23d8d;
          border-radius: 8px;
          color: #a23d8d;
          transition: all 0.5s ease-out;
          position: absolute;
        }
    }
    &__sum {
        width: 100%;
      margin-bottom: 10px;
    }
}

textarea {
 font-size: 12px;
 line-height: 17px;
 background: #ffffff;
 box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 resize: none;
 border: none;
 padding: 10px 0 10px 10px;
 margin-bottom: 10px;
 flex: auto;

 &::placeholder {
    font-size: 12px;
    color: rgba(61, 61, 61, 0.35);
   font-family: Inter;
   line-height: 15px
   }
}

.userInfo {
  display: flex;
  flex-wrap: wrap;
  input {
    font-size: 12px;
    line-height: 17px;
    background: #ffffff;
    box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    margin-right: 10px;
    height: 30px;
    width: 25%;
    margin-bottom: 10px;
    flex: 1;

    &::placeholder {
      font-size: 12px;
      line-height: 17px;
      color: rgba(61, 61, 61, 0.35);
    }
  }
  .error {
    background: #ffd9d9;
    &:focus {
      background: #ffffff;
    }
  }
}

.messenger__label {
  //color: rgba(61, 61, 61, 0.35);
  color: #3d3d3d;
  font-size: 12px;
  width: 243px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  input {
    appearance: auto;
    margin-left: 5px;
  }
}

.btnWrapper {
 span {
    font-weight: 200;
    font-size: 10px;
    line-height: 12px;
    color: rgba(61, 61, 61, 0.35);
    width: 208px;
    margin-left: 11px;

   @media (max-width: 900px) {
     width: 100%;
   }

   @media (max-width: 480px) {
     margin-top: 6px;
   }
 }
}

.animated-button-popup { //кнопка
 background: transparent;
 color: #fff;
 cursor: pointer;
 display: block;
 position: relative;
 border: none;
 transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
 padding: 5px;
 text-decoration: none;
 z-index: 1001;
}
.animated-button-popup:hover {
 color: #fff;
 z-index: 101;
}
.animated-button-popup:hover::before {
 left: 0;
 right: auto;
 width: 100%;
}
.animated-button-popup::before {
 display: block;
 position: absolute;
 top: 0;
 right: 0;
 height: 100%;
 width: 0;
 z-index: -1;
 content: "";
 color: #000 !important;
 background: linear-gradient(30.28deg, #a53a8b 0%, #3b98c9 103.59%);
 transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.popup__form-btn {
 font-size: 14px;
 line-height: 83.52%;
 color: #a23d8d;
 border: 1px solid #a23d8d;
 border-radius: 8px;
 padding: 0 15px;
  height: 30px;
 background-color: transparent;
 cursor: pointer;
 z-index: 101;
 overflow: hidden;
  white-space: nowrap;
}

